.media {
	border: solid;
}

#popular-articles {
	border: 0em;
	border-radius: 5em;
	margin-top: 5rem;
}

.container {
	text-align: center;
	align-items: center;
}

html {
	font-family: 'Kadwa', serif;
}
